@page
@using MiHome.Net.Dto
@using MiHome.Net.Middleware
@using MiHome.Net.Service
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FTFR.NET</h1>
    <p><a href="https://github.com/lzcapp/FTFR.NET">—— Fish Tank For Real, with .NET</a></p>
    
    <h2>Temperature</h2>
    <p>Current Temperature: </p>
    @{
        List<GetPropOutputItemDto> r5 = null;

        IHostBuilder? hostBuilder = Host.CreateDefaultBuilder();
        //添加小米米家的驱动服务，需要小米账号和密码
        hostBuilder.ConfigureServices(it => it.AddMiHomeDriver(x =>
        {
            x.UserName = "";
            x.Password = "";
        }));
        IHost? host = hostBuilder.Build();

        var miHomeDriver = host.Services.GetService<IMiHomeDriver>();
        //列出家庭里所有的智能家居设备
        if (miHomeDriver != null) {
            var deviceList = miHomeDriver.Cloud.GetDeviceListAsync().Result;
            //通过米家app里自己设置的智能家居名称找出自己想要操作的智能家居设备
            var temperatureDeviceInfo = deviceList.FirstOrDefault(it => it.Did == "blt.3.1jbhp2t80kg00");
            if (temperatureDeviceInfo != null) {
                MiotSpec result = miHomeDriver.Cloud.GetDeviceSpec(temperatureDeviceInfo.Model).Result;
            }

            //通过云端方式设置属性值
            r5 = miHomeDriver.Cloud.GetPropertiesAsync(new List<GetPropertyDto>()
            {
                new GetPropertyDto()
                {
                    Did = temperatureDeviceInfo.Did,
                    Siid = 3,
                    Piid = 1001
                }
            }).Result;
        }
        <span>@r5[0].Value</span>
    }
</div>
